.item_wrapper {
  margin: 0 20px 0 0;

  .item {

    display: flex;
    flex-direction: column;
    max-width: 263px;
    width: 201px;
    border: 1px solid #000;
    
    .img_wrapper {
      max-width: 200px;
      .img {
        max-width: 200px;
      }
    }
    .name {

    }

    .price {

    }

  }
}