.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  .err {
    font-size: 18px;
    color: #e03939;
    margin: -15px 0 5px 0;
  }

  .form {
    width: 50%;
    max-width: 600px;
    display: flex;
    flex-direction: column;

    .group {
      display: flex;
      flex-direction: column;
      margin: 0 0 20px 0;

      .inputName {
        margin: 0 0 8px 0;
      }
    }

    .box {
      display: flex;
      justify-content: space-between;
    }
  }
}


