.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45.8vw;
  height: 6.8vh;
  background: white;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 1px 1px 5px 1px rgba(59, 59, 68, 0.2);
}